&flexcomm2 {
	u_temperature_sensor: ti_tmp11x@48 {
		compatible = "ti,tmp11x";
		reg = <0x48>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	// fuel_gauge: sbs-gauge@b {
	// 	compatible = "sbs,sbs-gauge-new-api";
	// 	reg = <0x0b>;
	// };
};

/ {
	fuel_gauge: fuel-gauge-emul {
		compatible = "zephyr,fuel-gauge-emul";
		status = "okay";
	};
};

/ {
    tachometer: tachometer {
        compatible = "zephyr,tach-gpio";
        gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        pulses-per-round = <2>;
    };

	fan0: my-fan {
		compatible = "pwm-fan";
		pwms = <&sc_timer 7 40000 0>;
		max-rpm = <5000>;
		min-rpm = <0>;
		min-start-rpm = <3000>;
	};
};

/ {
    /* The actual RTC driver in zephyr */
    rtc_emul: rtc_emul {
        compatible = "zephyr,rtc-emul";
        status = "okay";
    };

    /* The Rust wrapper node */
    rs_rtc0: rs-rtc {
        compatible = "rs,rtc";
        rtc = <&rtc_emul>;       /* phandle to the real RTC */
        resolution-hz = <1>;     /* 1 Hz resolution */
    };
};

u_uart: &flexcomm0 {
	status = "okay";
};
